body {
  color: black !important;
  font-family: 'Futura-Normal', arial;
  letter-spacing: 1px;
}

.navbar ul>li {
  color: black;
  margin-left: 5px;
  text-align: center;
}

.navbar-nav {
  margin-right: 50px;
}

.navbar {
  height: 80px;
}

.card {
  border: none;
  border-bottom: 1px solid #A1A1A1;
  border-radius: 0px;
}

nav {
  height: 50px;
  background-color: #ffff !important;
  box-shadow: black;
}

.card-body {
  padding: 1.25rem 0px;
}

.card-body h4 {
  line-height: 24px;
  margin-bottom: 5px;
  font-size: 30px;
}

.card-body h6 {
  line-height: 24px;
  margin-bottom: 2px;
  font-size: 18px;
}

.card-body p {
  line-height: 16px;
  font-size: 16px;
  margin-bottom: 0;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: white;
  text-decoration: none;
}

.cont {
  margin-left: 30px;
  margin-right: 30px;
}

#header {
  position: fixed;
  width: 100vw;
  height: 90px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.75);
}

.floatingNav {
  width: calc(100vh - 100px);
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

#review {
  margin-top: 100px !important;
}

.page-footer {
  padding: 0;
  background-color: rgba(128, 128, 128, 0.322);
  /* margin:-10px */
  text-align: center !important;
}

.page-footer p {
  line-height: 15px;
  font-size: 15px;
}

.main {
  display: -webkit-box;
  display: flex;
}

.cname {
  width: 74%;
}

.rating {
  color: #ce8579;
  padding-right: 10px;
  width: 26%;
}

@media only screen and (max-width: 500px) {
  .main {
    flex-direction: column;
  }
  .main .cname {
    width: 100%;
  }
  .main .rating {
    width: 100%;
  }
  .main .rating h1 {
    float: left;
  }
}

@media only screen and (max-width: 550px) {
  .review-detail {
    flex-direction: column;
  }
  .review-detail .cname {
    width: 100%;
  }
  .review-detail .rating {
    width: 100%;
  }
}

.rating h1 {
  font-weight: 1000;
  font-size: 70px;
  float: right;
  line-height: 70px;
}

.rating1 {
  color: black;
  width: 20%;
}

.main {
  width: 100%;
  display: flex;
}

.toplist .main .cname {
  width: 40%;
}

.toplist .rating h1 {
  float: left;
}

.navbar ul>li:hover {
  background-color: #d25540;
  color: white !important;
}

.navbar ul>li:active {
  background-color: #a16c67;
}

.dropdown-menu a:hover {
  background-color: #d25540;
  color: white;
}

.dropdown-menu a {
  text-align: center;
}

.navbar-toggler {
  background-color: #ce8579;
  border-radius: 5px;
}

.navbar-collapse {
  background-color: #ffff
}

#findroom {
  margin-top: 120px !important;
}

.form-group {
  width: 100px;
  margin-left: 260px;
  margin-top: 0px;
}

.country {
  display: -webkit-box;
  display: flex;
  margin-top: -20px;
}

.region {
  display: -webkit-box;
  display: flex;
  margin-top: -25px;
}

.rate {
  display: -webkit-box;
  display: flex;
}

.player {
  margin-left: 150px;
}

.numberplayer {
  display: -webkit-box;
  display: flex;
}

.avgprice {
  display: -webkit-box;
  display: flex;
}

.price {
  margin-left: 60px;
}

.jumpscore {
  display: -webkit-box;
  display: flex;
}

.check {
  margin-left: 180px;
}

.imagepage {
  margin-top: 70px;
}

/* circle prograss bar  */

.progress1 {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress1:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress1>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress1 .progress1-left {
  left: 0;
}

.progress1 .progress1-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress1 .progress1-left .progress1-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress1 .progress1-right {
  right: 0;
}

.progress1 .progress1-right .progress1-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  -webkit-animation: loading-1 1.8s linear forwards;
  animation: loading-1 1.8s linear forwards;
}

.progress1 .progress1-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: white;
  font-size: 24px;
  color: black;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress1.blue .progress1-bar {
  border-color: #ce8579;
}

.progress1.blue .progress1-left .progress1-bar {
  -webkit-animation: loading-2 1.5s linear forwards 1.8s;
  animation: loading-2 1.5s linear forwards 1.8s;
}

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@-webkit-keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress1 {
    margin-bottom: 20px;
  }
}

.progress-bar {
  background-color: #ce8579;
}

.progress {
  border-radius: 0px;
}

/* for select section style */

select {
  width: 150px;
  height: 25px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  background-color: rgba(128, 128, 128, 0.37);
  border: none;
}

/* for range style */

.range {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.range::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.range[disabled]::-webkit-slider-runnable-track {
  border: 1px solid #d7dbdd;
  background-color: transparent;
  opacity: 0.4;
}

.range::-moz-range-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: none;
}

.range::-ms-track {
  color: transparent;
  border: none;
  background: none;
  height: 6px;
}

.range::-ms-fill-lower {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-fill-upper {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-tooltip {
  display: none;
  /* display and visibility only */
}

.range::-moz-range-thumb {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: none;
  background: none;
  background-color: #606670;
}

.range:active::-moz-range-thumb {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
  background-color: transparent;
  border: 1px solid #d7dbdd;
}

.range:active::-webkit-slider-thumb {
  outline: none;
}

.range::-ms-thumb {
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  border: none;
}

.range:active::-ms-thumb {
  border: none;
}

output {
  border: 1px solid #d7dbdd;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin-left: 10px;
  border-radius: 3px;
  width: 30px;
  text-align: center;
}

.container--dark {
  background-color: #11181d;
  color: #cccccc;
}

.range::-webkit-slider-runnable-track {
  background-color: #606670;
}

.range[disabled]::-webkit-slider-runnable-track {
  border: 1px solid #606670;
  background-color: transparent;
}

.range::-moz-range-track {
  background-color: #606670;
  border: none;
}

.range::-ms-fill-lower {
  background-color: #606670;
}

.range::-ms-fill-upper {
  background-color: #606670;
}

.range::-webkit-slider-thumb {
  background-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.range[disabled]::-webkit-slider-thumb {
  background-color: transparent;
  border: 1px solid #606670;
  box-shadow: none;
}

/* responsive design */

/* comments section  */

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  /* -webkit-font-smoothing: antialiased; */
  /* font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; */
  font-size: 1rem;
  color: black;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ced2db;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ced2db;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ced2db;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ced2db;
}

p {
  line-height: 1.3125rem;
}

.comments {
  margin: 1rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}

.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.comment-block textarea, input {
  padding: 10px;
  width: 100%;
  resize: none;
  background-color: rgba(128, 128, 128, 0.294);
}

.comment-text {
  margin-bottom: 1.25rem;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}

.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}

.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}

.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}

.comment-actions li:hover {
  color: #d25540;
}

#commentsection {
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.315);
}

textarea::-webkit-input-placeholder {
  color: black;
  padding: 3px;
}

textarea::-moz-placeholder {
  color: black;
  padding: 3px;
}

textarea:-ms-input-placeholder {
  color: black;
  padding: 3px;
}

textarea::-ms-input-placeholder {
  color: black;
  padding: 3px;
}

textarea::placeholder {
  color: black;
  padding: 3px;
}

input::-webkit-input-placeholder {
  color: black;
  padding: 3px;
}

input::-moz-placeholder {
  color: black;
  padding: 3px;
}

input:-ms-input-placeholder {
  color: black;
  padding: 3px;
}

input::-ms-input-placeholder {
  color: black;
  padding: 3px;
}

input::placeholder {
  color: black;
  padding: 3px;
}

textarea {
  padding: 10px;
}

/* most read review */

.most-read {
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
  padding: 0 10px;
  /* border:2px solid red; */
}

.most-read .cname {
  padding-left: 10px;
  width: 77%;
}

.most-read .rating1 {
  width: 23%;
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .most-read {
    flex-direction: column;
  }
  .most-read img {
    margin-bottom: 5px;
  }
  .most-read .cname {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 550px) {
  .most-read {
    flex-direction: column;
  }
  .most-read img {
    margin-bottom: 5px;
  }
  .most-read .cname {
    padding-left: 0px;
    /* border:2px solid red; */
  }
}

@media only screen and (max-width: 500px) {
  .most-read .mostread {
    flex-direction: row;
  }
}

.btn:hover {
  color: #ffffff;
}

.rangeflex {
  display: -webkit-box;
  display: flex;
}

.nav-item-active {
  border-bottom: 4px solid #d25540;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
  stroke: #944a41;
}

.circle-bg {
  fill: none;
  stroke: white;
  stroke-width: 2.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: butt;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circle-rating {
  fill: black;
  font-size: 16px;
  text-anchor: middle;
}

.checkboxcontainer {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1px solid black;
}

/* On mouse-over, add a grey background color */

/* .checkboxcontainer:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */

.checkboxcontainer input:checked~.checkmark {
  background-color: #D25540;
  border-color: #D25540;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkboxcontainer input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkboxcontainer .checkmark:after {
  left: 3px;
  top: -1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.progress {
  background-color: white;
}

.nav-link {
  padding: 20px !important;
  line-height: 15px;
}

.dropdown-toggle::after {
  border: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-radius: 0px;
}

.dropdown-menu {
  padding: 5px 10px;
}

.navbar-brand {
  margin-right: 0;
}

@media only screen and (max-width: 390px) {
  .navbar {
    padding-right: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 360px) {
  .nav-container {
    padding-right: 0;
    padding-left: 0;
  }
}

.logo-img {
  width: 270px;
  height: 60px;
}

@media only screen and (max-width: 330px) {
  .logo-img {
    width: 230px;
  }
}

.review_detial_area {
  text-decoration: none !important;
  color: #d25540;
}

.review_detial_area:hover {
  color: #944a41;
}

@media only screen and (max-width: 992px) {
  .nav-link {
    color: #d25540 !important;
  }
  .nav-link:hover {
    color: white !important;
  }
  .navbar ul>li:hover {
    color: white !important;
  }
  .dropdown-menu a:hover {
    color: white;
  }
}

.good_for {
  display: flex;
}

.good_for a {
  margin-right: 20px;
}

@media only screen and (max-width: 650px) {
  .good_for {
    flex-direction: column;
  }
  .good_for a {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .good_for a span {
    width: 185px;
  }
}

.progress-bar {
  transition: width 1s;
  width: 0%;
}

.dropdown-toggle::after {
  content: none;
}

@media only screen and (max-width: 992px) {
  .toplist .main .cname {
    width: 80%;
  }
  .toplist .main .rating {
    width: 20%;
  }
}

@media only screen and (max-width: 992px) {
  .toplist .main .cname {
    width: 100%;
  }
  .toplist .main .rating {
    width: 100%;
  }
}

/* select {
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 244px;
  } */